<!DOCTYPE html>
<html>
  <head>
    <title>Preview | Alchemy.js</title>
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
    <div id="layout" class="container">
      
      <div id="navbar"></div>

      <div id="content">Loading, please wait...</div>

      <div id="footer"></div>

    </div>

    <script>
      <% if (user) { %>
      var $ALCHEMY_USER = {
        authenticated: true,
        displayName: '<%= user.displayName %>',
        email: '<%= user.emails[0].value %>'
      };
      <% } else { %>
      var $ALCHEMY_USER = {
        authenticated: false,
        displayName: 'anonymous',
        email: ''
      };
      <% }  %>
    </script>
    <script src="/components/requirejs/require.js"></script>

    <!-- 
      This must contains the script to init page specific application logic. 
    -->
    <%-body -%>

  </body>
</html>
