<!DOCTYPE html>
<html>
  <head>
    <title>Preview | Alchemy.js</title>
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
    <div id="layout"></div>  

    <script>
      var $ALCHEMY_USER = {
        displayName: '<%= user.displayName %>',
        email: '<%= user.emails[0].value %>'
      };
    </script>
    <script data-main="/js/app.js" src="/components/requirejs/require.js"></script>
    
  </body>
</html>
