<!DOCTYPE html>
<html>
  <head>
    <title>Preview | Alchemy.js</title>
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <div class="container">
      
      <%-partial('partials/navbar-static') %> 

      <%-body -%>

      <%-partial('partials/footer') %> 

    </div>


    <script src="/components/jquery/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    
  </body>
</html>
