<% layout('layout') -%>

<div class="row">
<!--   <div class="col-md-12">
    <h3>Transfers</h3>
  </div>
 -->  <div class="col-md-12">
      <table class="table">
          <tr>
              <th>When</th>
              <th>How</th>
              <th>What</th>
              <th>From</th>
              <th>To</th>
          </tr>

          <tr>
              <td>Today</td>
              <td>1,0</td>
              <td>Caffè <a href="/project/3/location/birghiotto">@birghiotto</a></td>
              <td><a href="/project/3/account/wallet">Wallet</a></td>
              <td><a href="/project/3/account/break">Break</a></td>
          </tr>

          <tr>
              <td>4 Gen</td>
              <td>5,2</td>
              <td>Primo, contorno e acqua <a href="/project/3/location/blink">@blink</a></td>
              <td><a href="/project/3/account/buoni-pasto">Buoni Pasto</a></td>
              <td><a href="/project/3/account/pranzi">Pranzi</a></td>
          </tr>

      </table>
  </div>
</div>
